.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

thead{
    text-align: center;
    border: 1px solid black;
}

.title{
    font-size: 20px;
    box-shadow: 6px 6px 67px 0px rgba(49,73,145,1);
    background-color: rgb(102, 126, 201);
}

td{
 border: 1px solid black;
width: 150px;
background-color: #939cbd ;
}

.content{
    text-align: center;
    font-size: 20px;
}